---

---
<!-- MODALS -->
<div class="fixed w-screen h-screen left-0 top-0 bg-dark bg-opacity-90 z-20 overflow-x-hidden overflow-y-auto hidden modal-overlay" id="rating-modal" data-close>
	<div class="modal-content relative top-20 mb-10 left-1/2 translate-x-[-50%] -translate-y-10 transition-all duration-1000 max-w-xl w-full bg-white font-medium text-dark py-8 px-4 sm:p-8">
		<div class="w-10 h-10 flex items-center justify-center absolute right-0 top-0 opacity-50 transition-opacity hover:opacity-100 cursor-pointer rotate-45" data-close><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-close>
			<line y1="9.5" x2="20" y2="9.5" stroke="black"/>
			<line x1="9.5" y1="20" x2="9.5" stroke="black"/>
			</svg>
		</div>
		<div class="w-20 h-20 mx-auto mb-10" id="icon"></div>
		<p class="text-center text-lg mb-10"></p>
		<form class="flex flex-col gap-4 sm:gap-5 font-['hyunday-st']" id="rating-form">
			<!-- <input type="text" name="name" class="font-['hyunday-st'] border-2 border-dark border-opacity-20 transition-all focus:border-opacity-90 px-4 py-2 text-lg outline-none" placeholder="Ваше имя"> -->
			<input type="hidden" name="rating" value="1">
			<div class="hidden">
				<textarea name="comment" class="font-['hyunday-st'] border-2 border-dark border-opacity-20 transition-all focus:border-opacity-90 focus:border-blue px-4 py-2 sm:text-lg outline-none h-28 resize-none overflow-y-auto w-full" :placeholder="lang.comment"></textarea>
				<div class="error-message text-xs text-red hidden" id="comment"></div>
			</div>
			<div>
				<input type="tel" name="phone" class="font-['hyunday-st'] border-2 border-dark border-opacity-20 transition-all focus:border-opacity-90 focus:border-blue px-4 py-2 mb-1.5 sm:text-lg outline-none w-full" :placeholder="lang.your_phone">
				<div class="error-message text-xs text-red hidden" id="phone">Веден некорректный номер телефона</div>
			</div>
			<label class="hidden">
				<p class="mb-2" x-text="lang.best_time"></p>
				<input type="time" name="time" class="w-full font-['hyunday-st'] border-2 border-dark border-opacity-20 transition-all focus:border-opacity-90 focus:border-blue px-4 py-2 sm:text-lg outline-none" value="09:00">
			</label>
			<label class="cursor-pointer flex items-center flex-wrap">
				<input type="checkbox" name="agree" class="absolute w-0 h-0 opacity-0 invisible">
				<div class="flex flex-wrap gap-x-2">
					<span class="fake-checkbox mt-0.5 w-4 h-4 border border-dark inline-block flex-shrink-0 transition-all relative"></span>
					<template x-if="param === 'ru'">
					<span>
						<span x-text="findWords(lang.personal_data, 0, 0, 'обработку')"></span>
						<a href="javascript:void(0)" class="policy-popup-link text-blue underline transition-all hover:no-underline">обработку персональных данных</a>
					</span>
					</template>
					<span>
					<template x-if="param === 'en'">
					<span>
						<span x-text="findWords(lang.personal_data, 0, 0, 'the')"></span>
						<a href="javascript:void(0)" class="policy-popup-link text-blue underline transition-all hover:no-underline">the processing of personal data</a>
					</span>
					</template>
					</span>
					<template x-if="param === 'hi'">
					<span>
						<span x-text="findWords(lang.personal_data, 0, 0, 'व्यक्तिगत')"></span>
						<a href="javascript:void(0)" class="policy-popup-link text-blue underline transition-all hover:no-underline">व्यक्तिगत डेटा के प्रसंस्करण</a>
						<span x-text="findWords(lang.personal_data, 1, 0, 'प्रसंस्करण')"></span>
					</span>
					</template>
				</div>
				<div class="error-message text-xs text-red mt-1 w-full hidden" id="agree">Чтобы продолжить, установите флажок</div>
			</label>
			<input type="checkbox" name="subscribe" class="absolute w-0 h-0 opacity-0 invisible">
			<input type="submit" class="bg-blue px-4 py-3 transition-colors hover:bg-opacity-90 text-white font-medium cursor-pointer" :value="lang.send">
		</form>
	</div>
</div>
<div class="fixed w-screen h-screen left-0 top-0 bg-dark bg-opacity-90 z-30 overflow-x-hidden overflow-y-auto hidden modal-overlay" id="policy-modal" data-close>
	<div class="modal-content relative top-20 mb-10 left-1/2 translate-x-[-50%] -translate-y-10 transition-all duration-1000 max-w-5xl w-full bg-white font-medium text-dark py-8 px-4 sm:p-8">
		<div class="w-10 h-10 flex items-center justify-center absolute right-0 top-0 opacity-50 transition-opacity hover:opacity-100 cursor-pointer rotate-45" data-close><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-close>
			<line y1="9.5" x2="20" y2="9.5" stroke="black"/>
			<line x1="9.5" y1="20" x2="9.5" stroke="black"/>
			</svg>
		</div>
		<h2 class="text-base sm:text-xl uppercase pb-4 mb-4 border-b border-gray-100 font-medium">Согласие на обработку персональных данных посетителей сайта</h2>
		<div class="policy-text font-['hyunday-st'] text-xs sm:text-base">
			<ol>
			<li>
			<p>
			Пользователь, проходя регистрацию на Сайте
			<a href="#">__________</a> и его поддоменов, принимает настоящее Согласие на
			обработку персональных данных (далее – Согласие).
			</p>
			<p>
			Действуя свободно, своей волей и в своем интересе, а также подтверждая свою
			дееспособность, Пользователь дает свое согласие Общество с ограниченной
			ответственностью «__________» зарегистрированному по адресу __________ (далее — Оператор) на обработку своих персональных данных со
			следующими условиями:
			</p>
			</li>
			<li>
			<p>Данное Согласие дается на автоматизированную обработку персональных данных.</p>
			<p>Согласие дается на обработку следующих моих персональных данных:</p>
			<ol class="ol_bracket">
			<li>Специальные категории персональных данных – не обрабатываются.</li>
			<li>Биометрические персональные данные – не обрабатываются.</li>
			<li>
			Персональные данные, не являющиеся специальными или биометрическими:<br>
			фамилия, имя, отчество; номер телефона; адрес электронной почты; пол; семейное
			положение; дата рождения; адрес места жительства, образ жизни и поведение субъекта
			(в том числе, в сети Интернет), сфера деятельности, место работы и должность (род
			занятий), иные данные и информация, предоставленные и предоставляемые субъектом или
			ставшие известными ООО «Киа Россия и СНГ» в целях, указанных в настоящем согласии.
			</li>
			</ol>
			</li>
			<li>
			<p>
			Настоящее Согласие дается на выполнение следующих действий (операций), совершаемых с
			использованием средств автоматизации или без использования таких средств с
			персональными данными: сбор, запись, систематизация, накопление, хранение, уточнение
			(обновление, изменение), извлечение, использование, передача, в том числе
			трансграничная (распространение в случаях и в объеме, предусмотренных
			законодательством РФ, в том числе предоставление в государственные органы и иные
			организации), деперсонализация, блокирование, удаление, уничтожение персональных
			данных в целях:
			</p>
			<ol class="ol_latin">
			<li>продвижения и совершенствование товаров и услуг бренда ___;</li>
			<li>
			получения и исследования статистических данных об объемах продаж и качестве услуг
			бренда ___;
			</li>
			<li>
			изучения конъюнктуры рынка автомобилей, автомобильных запасных частей и аксессуаров;
			</li>
			<li>
			сбора статистики по посетителям Сайта для улучшения качества работы Сайта и его
			содержания;
			</li>
			<li>
			осуществления других видов деятельности в рамках законодательства РФ с обязательным
			выполнением требований законодательства РФ в области персональных данных.
			</li>
			<li>
			сбора данных по поведению на сайте kia-samara.ru (сервисами веб-аналитики, метрическими
			программами). Подробная информация приведена на официальном сайте ООО «___________» в разделе в разделе «Правовая информация» на странице «Файлы Cookie и анализ
			посещения сайта»
			<a href="#">_____________</a></li>
			<p>
			При обработке персональных данных и информации в целях, не связанных с направлением
			информации рекламного характера, могут использоваться e-mail рассылка (направление
			сообщений на электронную почту), СМС-рассылка (служба коротких сообщений), почтовая
			рассылка, телефонные звонки, любые иные средства связи, сеть Интернет. Для целей
			направления информации рекламного характера могут использоваться только варианты
			связи, отмеченные выше, либо на которые отдельно дано согласие.
			</p>
			</ol>
			</li>
			<li>
			Основанием для обработки персональных данных является: ст. 24 Конституции Российской
			Федерации; настоящее Согласие на обработку персональных данных.
			</li>
			<li>
			Оператор персональных данных ведет деятельность на территории Российской Федерации в
			соответствии с законодательством Российской Федерации. Предлагаемые товары/работы/услуги
			доступны к получению на территории Российской Федерации. Мониторинг потребительского
			поведения субъектов, находящихся за пределами Российской Федерации, не ведется.
			</li>
			<li>
			Обработка персональных данных может быть прекращена по запросу субъекта персональных
			данных. Хранение персональных данных, зафиксированных на бумажных носителях,
			осуществляется согласно Федеральному закону №125-ФЗ «Об архивном деле в Российской
			Федерации» и иным нормативно правовым актам в области архивного дела и архивного
			хранения.
			</li>
			<li>
			Согласие может быть отозвано субъектом персональных данных или его представителем путем
			направления письменного заявления заказным письмом с уведомлением Оператору по адресу,
			указанному в начале данного Согласия.
			</li>
			<li>
			В случае отзыва субъектом персональных данных или его представителем согласия на
			обработку персональных данных Оператор вправе продолжить обработку персональных данных
			без согласия субъекта персональных данных при наличии оснований, указанных в пунктах 2 –
			11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ
			«О персональных данных» от 27.07.2006 г.
			</li>
			<li>
			Настоящее согласие действует с момента проставления отметки и до момента прекращения
			обработки персональных данных, указанных в п.7 и п.8 данного Согласия.
			</li>
			<li>
			Политика обработки данных ООО «_____________», а также описание прав субъекта
			персональных данных и возможности их реализации приведены на официальном сайте ООО «__________» в разделе «Правовая информация»
			<a href="#">_________________</a></li>
			</ol>
			</div>
	</div>
</div>
<div class="fixed w-screen h-screen left-0 top-0 bg-dark bg-opacity-90 z-20 overflow-x-hidden overflow-y-auto hidden modal-overlay" id="message-modal" data-close>
	<div class="modal-content relative top-20 mb-10 left-1/2 translate-x-[-50%] -translate-y-10 transition-all duration-1000 max-w-xl w-full bg-white font-medium text-dark py-8 px-4 sm:p-8">
		<div class="w-10 h-10 flex items-center justify-center absolute right-0 top-0 opacity-50 transition-opacity hover:opacity-100 cursor-pointer rotate-45" data-close><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-close>
			<line y1="9.5" x2="20" y2="9.5" stroke="black"/>
			<line x1="9.5" y1="20" x2="9.5" stroke="black"/>
			</svg>
		</div>
		<div class="w-20 h-20 mx-auto mb-10" id="icon"></div>
		<p class="text-center text-lg mb-10"></p>
	</div>
</div>
<!-- MODALS END -->