---
import Layout from '@/layouts/Layout.astro';
---
<Layout title="404 — Страница не найдена">
	<div class="container pt-24 pb-10 min-h-dvh flex flex-col items-center justify-center">
		<img src="img/icons/smile-1.svg" class="max-w-[200px] w-full h-auto" alt="Ошибка 404">
		<h1 class="leading-none my-5">404</h1>
		<div class="sm:text-2xl mb-10">Страница не существует...</div>
		<a href="/" class="btn">На главную</a>
	</div>
</Layout>