@tailwind base;

@layer base {
	body{
		@apply font-light text-dark dark:text-white dark:bg-dark;
	}
	h1{
		@apply text-5xl sm:text-4vw 2xl:text-9xl
	}
	h2{
		@apply text-4xl sm:text-2vw 2xl:text-7xl
	}
	h3{
		@apply text-xl sm:text-1vw 2xl:text-4xl
	}
	.pdf-images section{
		@apply xl:min-h-[600px] xl:h-screen relative overflow-hidden;
		.container{
			@apply max-w-[1530px] p-0 h-full;
		}
	}
	.btn{
		@apply text-sm sm:text-base bg-blue text-white py-3 sm:py-4 px-10 rounded transition-all duration-300 hover:opacity-90 hover:shadow-sm;
		&.btn-success{
			@apply bg-green hover:bg-greenLigth hover:opacity-100;
		}
		&.btn-danger{
			@apply bg-red;
		}
		&.btn-sm{
			@apply py-2 px-10;
		}
	}
}
.highlight{
	z-index: 1;
	overflow: hidden;
	.container{
		@apply h-full;
	}
}

header{
	nav{
		a{
			@apply 
			py-6 inline-block relative text-lg font-medium
			before:content-[''] 
			before:absolute 
			before:bottom-0 
			before:left-0 
			before:h-0.5 
			before:w-0 
			before:bg-white 
			before:transition-all 
			before:duration-500
			hover:before:w-full;
		}
	}
	label{
		input[type="checkbox"]:checked ~ *.opacity-0{
			@apply visible opacity-100 translate-y-0
		}
		input[type="checkbox"]:checked ~ *.burger{
			@apply hidden
		}
		input[type="checkbox"]:checked ~ *.burger-close{
			@apply block
		}
	}
}

.grid-tr{
	div{
		@apply text-xs sm:text-base xl:text-xl leading-none px-3 py-2 even:bg-white even:bg-opacity-10 flex items-center justify-center;
	}
	&:nth-child(1){
		div{
			@apply justify-start
		}
	}
	.yes, .no{
		@apply 
		relative
		before:content-[''] 
		before:absolute 
		before:left-1/2 
		before:top-1/2 
		before:-translate-x-1/2
		before:-translate-y-1/2
		before:w-4 before:h-4 sm:before:w-5 sm:before:h-5
		before:border before:border-blue 
		before:rounded-full
		before:bg-blue
	}
	.no{
		@apply before:bg-transparent
	}
}

.package{
	@apply absolute lg:relative w-full h-full;
	div{
		@apply translate-x-full lg:translate-x-0 transition-transform duration-[350ms] opacity-0 lg:opacity-100;
		transition-delay: calc(0.03s * var(--i))
	}
	&.active{
		div{
			@apply translate-x-0 opacity-100;
			transition-delay: 0
		}
	}
}

.toggle-package-link{
	@apply text-[10px] md:text-xs lg:text-base px-2 sm:px-4 py-2 border-2 border-white border-opacity-10 rounded-sm whitespace-nowrap transition-all;
	&.active{
		@apply border-blue border-dotted shadow-3xl;
	}
}

.fake-checkbox{
	@apply 
	before:content-[''] 
	before:absolute 
	before:left-1/2 
	before:top-1/2 
	before:-translate-x-1/2
	before:-translate-y-1/2
	before:w-2.5 before:h-2.5
	before:bg-blue
	before:opacity-0
	before:transition-opacity
}

input[type="checkbox"]:checked ~ div>.fake-checkbox{
	@apply border-blue before:opacity-100;
}

ol{
	@apply list-decimal pl-3 sm:pl-4;
	li{
		@apply mb-2;
		p{
			@apply mb-2;
		}
		a{
			@apply text-blue underline hover:no-underline font-bold
		}
	}
}